<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__item">
      <a routerLink="/screen1" routerLinkActive="navbar__link--active" class="navbar__link">Seccion 1</a>
    </div>
    <div class="navbar__item">
      <a routerLink="/screen2" routerLinkActive="navbar__link--active" class="navbar__link">Seccion 2</a>
    </div>
    <div class="navbar__item">
      <a routerLink="/screen3" routerLinkActive="navbar__link--active" class="navbar__link">Seccion 3</a>
    </div>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
